[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = https://github.com/gflags/gflags
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = https://github.com/glennrp/libpng
[submodule "thirdparty/tinyobjloader"]
	path = thirdparty/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
